<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <title>Restaurant Apps Starter Project</title>
</head>
<body>
  <a href="#resto-section" class="btn-skip">Menuju ke konten</a>

  <header class="header">
    <div class="header__inner">
      <h1 class="header__title">Resto Finder</h1>
    </div>
    <a id="menu" href="#">☰</a>
    <nav id="drawer" class="nav">
      <ul class="nav__list">
        <li class="nav__item"><a href="/">Home</a></li>
        <li class="nav__item"><a href="#">Favorite</a></li>
        <li class="nav__item"><a class="btn-nav" href="https://www.linkedin.com/in/achmad-syarif-arifiansyah-b45361166/">Tentang Kami</a></li>
      </ul>
    </nav>
  </header>
  
  <section class="hero">
    <div class="hero-image"></div>
    <div class="hero-description">
      <h2 tabindex="0">Ayo Kunjungi Ragam Restoran Di Indonesia</h2>
      <p tabindex="0">Cicipi Masakan Terbaik di Seluruh Daerah</p>
      <span class="btn-hero-section">
        <a tabindex="0" class="btn-hero" href="#resto-section">Temukan disini</a>
    </span>
    </div>
  </section>
  <main>
    <div class="resto-section" id="resto-section">
      <h2 class="resto-label">Restoran Populer di Indonesia</h2>
      <div class="restoran-section" id="resto-list"></div>
    </div>
  </main>
  <footer>
    <p>Copyright @ 2023 - Resto Finder by Achmad Syarif Arifiansyah</p>
  </footer>
</body>
</html>
