@media screen and (max-width: 550px) {
    .nav {
        z-index: 10;
        background-color: #fff;
        width: 300px;
        position: absolute;
        right: 0;
    
        /* This trasform moves the drawer off canvas. */
        -webkit-transform: translate(-300px, 0);
        transform: translate(600px, 0);
    
        /* Optionally, we animate the drawer. */
        transition: transform 0.3s ease;
    }

    .open {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
        top: 0;
    }
    
    .nav__item {
        display: list-item;
        border-bottom: 1px solid #E0E0E0;
        width: 100%;
        text-align: left;
        color: black;
    }

    nav li a {
        font-size: 15px;
        text-decoration: none;
        color: black;
        padding: 10px;
    }
}

@media screen and (min-width: 550px) {
    #menu {
        display: none;
    }
}

@media screen and (min-width: 700px) {
    .header_title {
        font-size: 20px;
    }
    
    .hero_description h2{
        font-size: 25px;
    }
    

    .restoran-section {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 10px;
        grid-row-gap: 16px;
    }
}

@media screen and (min-width: 900px) {
    .restoran-section {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (min-width: 1200px) {
    main {
        max-width: 1200px;
    }
}